@charset "UTF-8";

#top-arrow{
    background-image : linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/top-arrow.png);
    background-repeat: no-repeat;
    background-position : bottom;
    background-size: 80px;
}

#top-left-arrow{
    background-image : linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/top-left-arrow.PNG);
    background-repeat: no-repeat;
    background-position : bottom;
    background-size: 80px;
}

#top-right-arrow{
    background-image : linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/top-right-arrow.PNG);
    background-repeat: no-repeat;
    background-position : bottom;
    background-size: 80px;
}

#left-arrow{
    background-image : linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/left-arrow.PNG);
    background-repeat: no-repeat;
    background-position : center;
    background-size: 80px;
}

#right-arrow{
    background-image : linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/right-arrow.PNG);
    background-repeat: no-repeat;
    background-position : center;
    background-size: 80px;
}

#bottom-arrow{
    background-image : linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/bottom-arrow.png);
    background-repeat: no-repeat;
    background-position : top;
    background-size: 80px;
}

#bottom-left-arrow{
    background-image : linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/bottom-left-arrow.PNG);
    background-repeat: no-repeat;
    background-position : top;
    background-size: 80px;
}


#bottom-right-arrow{
    background-image : linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/bottom-right-arrow.PNG);
    background-repeat: no-repeat;
    background-position : top;
    background-size: 80px;
}

